<% include ../partials/header %>
    <div class="container-fluid">
        <div class="row form-inline header_input_row input_row">
            <div class="col-md-12">
                <h2>Edit Course</h2>
            </div> 
        </div> 
        <hr class='header_hr'>
        <div id="new-course-form" class="row form-group">
           <form id="new-course" action="/courses/<%=course.id%>?_method=PUT" method="POST">
                <div class="row">
                   <div class="col-md-3">
                       <label for="course_name">Course Name:</label>
                       <input id="course_name" type="text" name="course[name]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.name%>">
                    </div>
                    <div class="col-md-2">
                       <label for="course_lat">Course Latitude:</label>
                       <input id="course_lat" type="text" name="course[latitude]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.location.latitude%>">
                    </div>
                    <div class="col-md-2">
                       <label for="course_long">Course Longitude:</label>
                       <input id="course_long" type="text" name="course[longitude]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.location.longitude%>">
                    </div>
                </div>
                <div id="course-address-row" class="row">
                    <div class="col-md-2">
                       <label for="course_country">Course Country:</label>
                       <input id="course_country" type="text" name="course[country]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.location.country%>">
                    </div>
                    <div class="col-md-1">
                       <label for="course_state">Course State:</label>
                       <input id="course_state" type="text" name="course[state]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.location.state%>">
                    </div>
                    <div class="col-md-2">
                       <label for="course_city">Course City:</label>
                       <input id="course_city" type="text" name="course[city]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.location.city%>">
                    </div>
                    <div class="col-md-1">
                       <label for="course_zip">Course Zip:</label>
                       <input id="course_zip" type="text" name="course[zip]" class="form-control course-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="<%=course.location.zip%>">
                    </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <div class="checkbox">
                          <label><input type="checkbox" name="course[isNine]" value="Yes" <% if(course.isNine) { %> checked <% } %>>Nine Holes?</label>
                          <label><input type="checkbox" name="course[isNineOnly]" value="Yes" <% if(course.isNineOnly) { %> checked <% } %>>Nine Holes Only?</label>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-2">
                        <h3>Tees</h3>
                        <div id="tee_inputs">
                           <% for(var i=1;i<course.tees.length+1;i++){ %> 
                               <div id="tee_inputs_<%=i%>" class="show">
                                   <label for="tees">Color:</label>
                                       <select id="color_<%=i%>" class="form-control course-input tee_color_dropdown" name="course[color_<%=i%>]">
                                            <option id="tee_default_value" value="">Select Tee Color</option>
                                            <option value="Red" <% if(course.tees[i-1].color == "Red") { %> selected="selected" <% } %>>Red</option>
                                            <option value="Yellow" <% if(course.tees[i-1].color == "Yellow") { %> selected="selected" <% } %>>Yellow</option>
                                            <option value="Green" <% if(course.tees[i-1].color == "Green") { %> selected="selected" <% } %>>Green</option>
                                            <option value="White" <% if(course.tees[i-1].color == "White") { %> selected="selected" <% } %>>White</option>
                                            <option value="Silver" <% if(course.tees[i-1].color == "Silver") { %> selected="selected" <% } %>>Silver</option>
                                            <option value="Blue" <% if(course.tees[i-1].color == "Blue") { %> selected="selected" <% } %>>Blue</option>
                                            <option value="Gold" <% if(course.tees[i-1].color == "Gold") { %> selected="selected" <% } %>>Gold</option>
                                            <option value="Black" <% if(course.tees[i-1].color == "Black") { %> selected="selected" <% } %>>Black</option>
                                        </select>
                                        <div class="form-group">
                                            <label for="rating" class="Label_input">Rating</label>
                                            <input type="number" step="0.1" name="course[rating_<%=i%>]" class="form-control s_input" min="0" value="<%=course.tees[i-1].rating%>">
                                            <label for="slope" class="Label_input">Slope</label>
                                            <input type="number" name="course[slope_<%=i%>]" class="form-control s_input" min="0" value="<%=course.tees[i-1].slope%>">
                                        </div>
                                        <input type='hidden' name='course[tee_label_<%=i%>]' value="<%=course.tees[i-1].color%>" />);
                                        <hr class='header_hr'>
                                </div>
                            <% } %>
                            <% for(var i=7-course.tees.length;i<=8;i++){ %> 
                               <div id="tee_inputs_<%=i%>" class="hidden">
                                   <label for="tees">Color:</label>
                                       <select id="color_<%=i%>" class="form-control course-input tee_color_dropdown" name="course[color_<%=i%>]">
                                            <option id="tee_default_value" value="">Select Tee Color</option>
                                            <option value="Red">Red</option>
                                            <option value="Yellow">Yellow</option>
                                            <option value="Green">Green</option>
                                            <option value="White">White</option>
                                            <option value="Silver">Silver</option>
                                            <option value="Blue">Blue</option>
                                            <option value="Gold">Gold</option>
                                            <option value="Black">Black</option>
                                        </select>
                                        <div class="form-group">
                                            <label for="rating" class="Label_input">Rating</label>
                                            <input type="number" name="course[rating_<%=i%>]" class="form-control s_input" min="0">
                                            <label for="slope" class="Label_input">Slope</label>
                                            <input type="number" name="course[slope_<%=i%>]" class="form-control s_input" min="0">
                                        </div>
                                        <hr class='header_hr'>
                                </div>
                            <% } %>
                       </div>
                       <button type="button" id="add-tee"> Add Tee </button>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-8">
                       <h3>Holes</h3>
                       <% for (var i = 1; i <= 18; i++) { %>
                           <div id="hole-accordion" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#hole-<%=i%>-input">Hole <%=i%></a>
                                        </h4>
                                    </div>
                                    <div id="hole-<%=i%>-input" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="hole-par">Par:</label>
                                                    <select class="form-control course-input" name="course[par_<%=i%>]">
                                                        <option id="par_default_value" value="">Select Par</option>
                                                        <option value="3" <% if(course.holes[i-1].par == "3") { %> selected="selected" <% } %>>3</option>
                                                        <option value="4" <% if(course.holes[i-1].par == "4") { %> selected="selected" <% } %>>4</option>
                                                        <option value="5" <% if(course.holes[i-1].par == "5") { %> selected="selected" <% } %>>5</option>
                                                    </select>
                                                    <label for="hole-handicap">Handicap:</label>
                                                    <select class="form-control course-input" name="course[handicap_<%=i%>]">
                                                        <option id="par_default_value" value="">Select Handicap</option>
                                                        <% for (var j = 1; j <= 18; j++) { %>
                                                            <option value="<%=j%>"<% if(course.holes[i-1].handicap == j) { %> selected="selected" <% } %>><%=j%></option>
                                                        <% } %>
                                                    </select>
                                                    <div class="form-group tee-yardage">
                                                        <% for(var k=1;k<Object.keys(course.holes[i-1].yardage).length+1;k++){ 
                                                            if(course.holes[i-1].yardage[Object.keys(course.holes[i-1].yardage)[k]] && Object.keys(course.holes[i-1].yardage)[k] != "__index" && Object.keys(course.holes[i-1].yardage)[k] != "__parent" && Object.keys(course.holes[i-1].yardage)[k] != "$init") { %>
                                                                <label for="yardage" class="Label_input yardage_label_<%=i%>"><%=Object.keys(course.holes[i-1].yardage)[k].charAt(0).toUpperCase() + Object.keys(course.holes[i-1].yardage)[k].slice(1)%></label>
                                                                <input type="number" name="course[yardage_<%=i%>]" class="form-control s_input" min="0" value="<%=course.holes[i-1].yardage[Object.keys(course.holes[i-1].yardage)[k]]%>"/>
                                                            <% } %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                   <button type="submit" id="submit-course" class="btn btn-xs btn-warning save_btn">Update</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
<script>
    //Set Active Menu
    $(document).ready(function() {
        document.title = 'Edit Course';
    });
    
    $('#tee_inputs_1').removeClass('hidden');
    $('#tee_inputs_1').addClass('show');
    
    $('.menu_options li').removeClass('active');
    $('#new_course_option').addClass('active');
    
    $('#add-tee').on('click', function(){
        //count existing tees
        tee_num = $('.show').length + 1;
        $('#tee_inputs_' + tee_num).removeClass("hidden");
        $('#tee_inputs_' + tee_num).addClass("show");
        $('.tee-yardage').append(
            `<label for="yardage" class="Label_input yardage_label_` + tee_num + `">Yardage</label>
             <input type="number" name="course[yardage_` + tee_num + `]" class="form-control s_input" id="yardage_` + tee_num + `" min="0" />`
        );
    });
    
    $('.tee_color_dropdown').on('change', function() {
      var id = this.id,
          index = id.lastIndexOf("_"),
          result = id.substr(index+1);
      $('.yardage_label_'+result).text(this.value + ":")[0];
      var val = $('.yardage_label_'+result).text();
      var valClean = val.substring(0, val.indexOf(':')).toLowerCase();
      $('#tee_inputs').append("<input type='hidden' name='course[tee_label_"+result+"]' value='"+valClean+"'/>");
    });
    
    /*$('.tee_color_dropdown').each(function( i ) {
        var id = this.id,
          index = id.lastIndexOf("_"),
          result = id.substr(index+1);
          $('.yardage_label_'+result).text(this.value + ":")[0];
          var val = $('.yardage_label_'+result).text();
          var valClean = val.substring(0, val.indexOf(':')).toLowerCase();
          $('#tee_inputs').append("<input type='hidden' name='course[tee_label_"+result+"]' value='"+valClean+"'/>");
    });*/
    
</script>
<% include ../partials/footer %>