<% include ../partials/header %>
    <div class="container">
        <h2>Courses</h2>
        <hr id='courses_hr'>
        <%  function compare(a,b) {
              if (a.name > b.name)
                return 1;
              if (a.name < b.name)
                return -1;
              return 0;
            }
            courses.sort(compare); %>
            <div id="page1" class="row text-center page">
            <% var page = 1
            var last = false;
            for(let i=1; i<=courses.length; i++) {
                if(last) {
                    page++; %>
                    <div id="page<%=page%>" class="row text-center page">
             <% }
                last = false;
                if(i % 16 === 0) {
                    last = true;
                } %>
                <div class="col-md-3 col-sm-6">
                       <div class="thumbnail course-thumb">
                           <div class="caption">
                               <img class="thumb_img" src='<%= courses[i-1].img %>' alt="Course Image">
                               <h4 class = "course-name-list"><%= courses[i-1].name %></h4>
                               <% var par = 0;
                                   courses[i-1].holes.forEach(function(hole){ 
                                   par += hole.par;
                                }); %>
                                <p><%= courses[i-1].location.city %>, <%= courses[i-1].location.state %></p>
                                <p>Par: <strong><%= par %></strong></p>
                           </div>
                           <p>
                               <!-- <a href="/rounds/ rounds[i-1]._id %>" class="btn btn-primary">View Scorecard</a> -->
                               <a href="/courses/<%=courses[i-1]._id%>/edit" class="btn btn-s btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> 
                           </p> 
                    </div>
                </div>
                <% if(last) { %>
                    </div>
                <% } %>
            <% }; %>
        </div> 
        <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
        <div id="hidden_page" class="hidden"><%=page%></div>
    </div>
<script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
<script src="../scripts/pagination.js"></script> 
<% include ../partials/footer %>

<script>
    //Set Active Menu
    $(document).ready(function() {
        document.title = 'Courses';
    });
    
    $('.menu_options li').removeClass('active');
    $('#courses_menu_option').addClass('active');
</script>
