<% include ./partials/header %>

<div id="prof-pic-cont" class="container">
    <div id="prof-pic-row" class="row">
        <div class="col-md-12">
            <div id="dash-img-span"> 
                <% if(user.hasImg) { %>
                        <img id='prof-prof-pic' src="<%= userImg %>" onerror='imgError(this);'>
                <% } else { %>
                        <img id='prof-prof-pic' src="../img/blank_user.jpg" onerror='imgError(this);'>
                <% } %>
            </div>
            <div for="fullname"> <span id="camera-icon" class="glyphicon glyphicon-camera" aria-hidden="true"></span><span id="show-img-input" class="fake-link">Update Profile Picture</div>
            <form id="profile-pic" action="/profile" method="POST" enctype="multipart/form-data">
                <div class="input-group form-group image-preview profile-img-change">
                    <input id="profile-input" type="text" class="form-control image-preview-filename hidden" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span id="profile-span" class="input-group-btn hidden">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input id="img-file" type="file" accept="image/png, image/jpeg, image/gif" name="imgFile"/> <!-- rename it -->
                        </div>
                        <button id="submit-img" type="submit" class="btn btn-xs btn-success save_btn">Upload</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div> Username: </div>
                    </td>
                    <td>
                        <div> <%= user.username %> </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div> Email: </div>
                    </td>
                    <td>
                        <div> <%= user.email %> </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div> Display Name: </div>
                    </td>
                    <td>
                        <div><%= user.name %></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div> Password: </div>
                    </td>
                    <td>
                        <div>
                            <a href="/forgot"><button class="btn btn-primary">Reset</button></a>
                        </div>
                    </td>
                </tr>
                <% if(!user.emailConfirmed){ %>
                    <tr>
                        <td>
                            <div> Email Verification: </div>
                        </td>
                        <td>
                            <div>
                                <a href="/resend-verification"><button id="resend-email-verification" class="btn btn-primary">Resend</button></a>
                            </div>
                        </td>
                    </tr>
                <% } %>
                <tr>
                    <td>
                        <div> Clubs in the Bag: </div>
                    </td>
                    <td>
                        <form id='club-selection-form' action="/clubs" method="POST">
                            <% user.bag.forEach(function(club){ 
                                    var checked = "";
                                    if(club.inBag){
                                        checked = "checked"
                                    } %>
                                    <div class="checkbox">
                                        <label><input class="club-selection" type="checkbox" value="<%= club.club %>" <%=checked%>><%= club.club %></label>
                                    </div>
                            <% }) %>
                            <div>
                                <button type="submit" id="submit-clubs" class="btn btn-xs btn-success save_btn">Save</button>
                                <button type="submit" id="edit-clubs" class="btn btn-xs btn-warning edit_btn hidden">Edit</button>
                                <button type="submit" id="clear-clubs" class="btn btn-xs btn-danger clear_btn">Clear</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>   
<% include ./partials/footer %>
<script>

    $(document).ready(function() {
        document.title = 'Profile';
    });

    $(document).on('click', '#show-img-input', function(){
        $('#profile-input').toggleClass("hidden")
        $('#profile-span').toggleClass("hidden")
    });
    
    $(document).on('click', '#close-preview', function(){ 
        $('.image-preview').popover('hide');
        // Hover befor close the preview
        $('.image-preview').hover(
            function () {
               $('.image-preview').popover('show');
            }, 
             function () {
               $('.image-preview').popover('hide');
            }
        );    
    });

    $(function() {
        // Create the close button
        var closebtn = $('<button/>', {
            type:"button",
            text: 'x',
            id: 'close-preview',
            style: 'font-size: initial;',
        });
        closebtn.attr("class","close pull-right");
        // Set the popover default content
        $('.image-preview').popover({
            trigger:'manual',
            html:true,
            title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
            content: "There's no image",
            placement:'right'
        });
        // Clear event
        $('.image-preview-clear').click(function(){
            $('.image-preview').attr("data-content","").popover('hide');
            $('.image-preview-filename').val("");
            $('.image-preview-clear').hide();
            $('.image-preview-input input:file').val("");
            $(".image-preview-input-title").text("Browse"); 
        }); 
        // Create the preview image
        $(".image-preview-input input:file").change(function (){     
            var img = $('<img/>', {
                id: 'dynamic',
                width:250,
                height:200
            });      
            var file = this.files[0];
            var reader = new FileReader();
            // Set preview image into the popover data-content
            reader.onload = function (e) {
                $(".image-preview-input-title").text("Change");
                $(".image-preview-clear").show();
                $(".image-preview-filename").val(file.name);            
                img.attr('src', e.target.result);
                $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
            }        
            reader.readAsDataURL(file);
        });  
    });
    
    $('#club-selection-form').on('submit', function(e) {
        e.preventDefault();
        clubSave();
    });
    
    function clubSave() {
        console.log($('.club-selection').value);
        var clubList = [];
        $('.club-selection').each(function() {
            var club = $(this).val();
            var isChecked = $(this).prop('checked');
            clubList.push({
                club: club,
                inBag: isChecked
            });
        })
        console.log(clubList);
        
        $.ajax({
            url: '/clubs', 
            type: 'POST', 
            data: {clubList: clubList}
        });
        
        $('#submit-clubs').html('Saved');
        $('#submit-clubs').prop("disabled", true);
        $('#edit-clubs').removeClass("hidden");
        
        return false;
    }
    
    $("#clear-clubs").click(function() {
        clubClear();
        return false;
    });
    
    function clubClear() {
        $('.club-selection').prop('checked', false); 
        return false;
    }
    
    $("#edit-clubs").click(function() {
        clubEdit();
        return false;
    });
    
    function clubEdit() {
        $('#submit-clubs').html('Save');
        $('#submit-clubs').prop("disabled", false);
        return false;
    }

</script>
