<% include ../partials/header %>

<div class="container">
    <h3> <%= round.courseName %> - <span id="round_date"> <%= round.date %> </span></span></h3>
    <div>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col"><p>Hole</p><p id='tee_color' class='tee_color'><%= round.tees %></p></th>
                <%  var outYards = 0,
                        inYards = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ 
                            outYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <th scope="col"><p><%= i %></p><p class='tee_color'><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></p></th>
                       <% } %>
                        <th scope="col"><p>Out</p><p class='tee_color'><%= outYards %></p></th>
                  <% } %> 
                    
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ 
                            inYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <th scope="col"><p><%= i %></p><p class='tee_color'><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></p></th>
                       <% } %>
                        <th scope="col"><p>In</p><p class='tee_color'><%= inYards %></p></th>
                <% } %>
                <th scope="col"><p>Total</p><p class='tee_color'><%= outYards + inYards %></p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row"><%= user.username %></th>
                <% if(round.isFull || round.roundType === "Front 9") {
                    var outScore = 0;
                    for(let i=1; i<=9; i++){
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                outScore += round.holes[z - 1].score %>
                                <td><%= round.holes[z - 1].score %></td>
                        <% } 
                        } 
                    } %>
                    <td><strong><%= outScore %></strong></td>
             <% } %>
                
                <% if(round.isFull || round.roundType === "Back 9") {
                    var inScore = 0;
                    for(let i=10; i<=18; i++){
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                inScore += round.holes[z - 1].score %>
                                <td><%= round.holes[z - 1].score %></td>
                         <% }
                        }
                    } %>
                    <td><strong><%= inScore %></strong></td>
             <% } %> 
                <td><strong><%= outScore + inScore %></strong></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<script>
    var tee_color = 'black';
    if($('#tee_color').text().toLowerCase() === 'white'){
        tee_color = 'gray';
    } else {
        tee_color = $('#tee_color').text().toLowerCase();
    }
    $('.tee_color').css('color', tee_color);
    
    alert($('#round_date').text());
    var rawDate = new Date($('#round_date').text());
    var formattedDate = formatDate(rawDate);
    $('#round_date').text(formattedDate);
    
    function formatDate(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
    }
   
</script>
<% include ../partials/footer %>