<% include ../partials/header %>

<div class="container">
    <h3> <%= round.courseName %> - <span id="round_date"> <%= round.date %> </span></span></h3>
    <div>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col"><p>Hole</p><p id='tee_color' class='tee_color'><%= round.tees %></p></th>
                <%  var outYards = 0,
                        inYards = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ 
                            outYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <th scope="col"><p><%= i %></p><p class='tee_color'><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></p></th>
                       <% } %>
                        <th scope="col"><p>Out</p><p class='tee_color'><%= outYards %></p></th>
                  <% } %> 
                    
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ 
                            inYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <th scope="col"><p><%= i %></p><p class='tee_color'><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></p></th>
                       <% } %>
                        <th scope="col"><p>In</p><p class='tee_color'><%= inYards %></p></th>
                <% } %>
                <th scope="col"><p>Total</p><p class='tee_color'><%= outYards + inYards %></p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row"><%= user.name %></th>
                <% if(round.isFull || round.roundType === "Front 9") {
                    var outScore = 0;
                    for(let i=1; i<=9; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                outScore += round.holes[z - 1].score %>
                                <td><%= round.holes[z - 1].score %></td>
                            <% }
                        } 
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td><strong><%= outScore %></strong></td>
             <% } %>
                
                <% if(round.isFull || round.roundType === "Back 9") {
                    var inScore = 0;
                    for(let i=10; i<=18; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                inScore += round.holes[z - 1].score %>
                                <td><%= round.holes[z - 1].score %></td>
                         <% }
                        }
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td><strong><%= inScore %></strong></td>
             <% }  
                if(round.isFull) { %>
                <td><strong><%= outScore + inScore %></strong></td>
            <% } else if(round.roundType === "Front 9") { %>
                    <td><strong><%= outScore %></strong></td>
            <% } else if(round.roundType === "Back 9") { %>
                    <td><strong><%= inScore %></strong></td>
            <% } %>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<script src="../scripts/rounds/show.js"></script>
<% include ../partials/footer %>