<% include ../partials/header %>

<div class="container">
    <h3 id="scorecard_title"> <span><img src='<%= round.course[0].img %>'></span> <span id="course_name"><%= round.courseName %></span> - <span id="round_date"> <%= round.date %> </span></span></h3>
    <div>
        <table class="table table-bordered scorecard">
          <thead>
            <tr>
                <th scope="col">
                    <div>
                        Hole
                    </div>
                </th>
                <%  var outYards = 0,
                        inYards = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ %>
                            <th scope="col">
                                <div>
                                    <%= i %>
                                </div>
                            </th>
                       <% } %>
                        <th scope="col">
                            <div>
                                Out
                            </div>
                        </th>
                  <% } %> 
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ %>
                            <th scope="col">
                                <div>
                                    <%= i %>
                                </div>
                            </th>
                       <% } %>
                        <th scope="col">
                            <div>
                                In
                            </div>
                        </th>
                <% } %>
                <th scope="col">
                    <div>
                        Total
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--Yardage-->
            <tr>
                <th scope="row">
                    <div id='tee_color' class='tee_color'>
                        <%= round.tees %>
                    </div>
                </th>
                <%  var outYards = 0,
                        inYards = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ 
                            outYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <td scope="col"><div class='tee_color'><strong><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'><strong><%= outYards %></strong></div></td>
                  <% } %>
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ 
                            inYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <td scope="col"><div class='tee_color'><strong><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'><strong><%= inYards %></strong></div></td>
                <% } %>
                <td scope="col"><div class='tee_color'><strong><%= outYards + inYards %></strong></div></td>
            </tr>
            <!--Par-->
            <tr id="par_row">
                <th scope="row">
                    <div>
                        Par
                    </div>
                </th>
                <%  var outPar = 0,
                        inPar = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ 
                            outPar += round.course[0].holes[i - 1].par; %>
                            <td scope="col"><div><strong><%= round.course[0].holes[i - 1].par %></strong></div></td>
                       <% } %>
                        <td scope="col"><div><strong><%= outPar %></strong></div></td>
                  <% } %>
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ 
                            inPar += round.course[0].holes[i - 1].par; %>
                            <td scope="col"><div><strong><%= round.course[0].holes[i - 1].par; %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'></div><strong><%= inPar %></strong></div></td>
                <% } %>
                <td scope="col"><div><strong><%= outPar + inPar %></strong></div></td>
            </tr>
            <!--Score-->
            <tr id="score_row">
                <th id="player_name" scope="row"><%= user.name %></th>
                <% if(round.isFull || round.roundType === "Front 9") {
                    var outScore = 0;
                    for(let i=1; i<=9; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                outScore += round.holes[z - 1].score %>
                                <td>
                                    <div id="score_<%=round.holes[z - 1].holeNumber%>">
                                        <%= round.holes[z - 1].score %>
                                    </div>
                                </td>
                            <% }
                        } 
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td><strong><%= outScore %></strong></td>
             <% } %>
                
                <% if(round.isFull || round.roundType === "Back 9") {
                    var inScore = 0;
                    for(let i=10; i<=18; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                inScore += round.holes[z - 1].score %>
                                <td>
                                    <div id="score_<%=round.holes[z - 1].holeNumber%>">
                                        <%= round.holes[z - 1].score %>
                                    </div>
                                </td>
                         <% }
                        }
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td><strong><%= inScore %></strong></td>
             <% }  
                if(round.isFull) { %>
                <td><strong><%= outScore + inScore %></strong></td>
            <% } else if(round.roundType === "Front 9") { %>
                    <td><strong><%= outScore %></strong></td>
            <% } else if(round.roundType === "Back 9") { %>
                    <td><strong><%= inScore %></strong></td>
            <% } %>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<script src="../scripts/rounds/show.js"></script>
<% include ../partials/footer %>