<% include ../partials/header %>

<div class="container">
    <h3 id="scorecard_title"> 
        <span><img src='<%= round.course[0].s3Img %>'></span> 
        <span id="course_name"><%= round.courseName %></span> - 
        <span id="round_date"> <%= round.date %> </span>
        <span id="show-edit"><a href="/rounds/<%= round._id %>/edit" class="btn btn-s btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></span>
    </h3>
    <div>
        <table class="table table-bordered">
          <thead class="scorecard">
            <tr class="scorecard">
                <th scope="col">
                    <div>
                        Hole
                    </div>
                </th>
                <%  var outYards = 0,
                        inYards = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ %>
                            <th scope="col">
                                <div>
                                    <%= i %>
                                </div>
                            </th>
                       <% } %>
                        <th scope="col">
                            <div>
                                Out
                            </div>
                        </th>
                  <% } %> 
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ %>
                            <th scope="col">
                                <div>
                                    <%= i %>
                                </div>
                            </th>
                       <% } %>
                        <th scope="col">
                            <div>
                                In
                            </div>
                        </th>
                <% } %>
                <th scope="col">
                    <div>
                        Total
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--Yardage-->
            <tr class="scorecard">
                <th scope="row">
                    <div id='tee_color' class='tee_color'>
                        <%= round.tees %>
                    </div>
                </th>
                <%  var outYards = 0,
                        inYards = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ 
                            outYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <td scope="col"><div class='tee_color'><strong><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'><strong><%= outYards %></strong></div></td>
                  <% } %>
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ 
                            inYards += round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()]; %>
                            <td scope="col"><div class='tee_color'><strong><%= round.course[0].holes[i - 1].yardage[round.tees.toLowerCase()] %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'><strong><%= inYards %></strong></div></td>
                <% } %>
                <td scope="col"><div class='tee_color'><strong><%= outYards + inYards %></strong></div></td>
            </tr>
            <!--Par-->
            <tr id="par_row" class="scorecard">
                <th scope="row">
                    <div>
                        Par
                    </div>
                </th>
                <%  var outPar = 0,
                        inPar = 0;
                    if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ 
                            outPar += round.course[0].holes[i - 1].par; %>
                            <td scope="col"><div><strong><%= round.course[0].holes[i - 1].par %></strong></div></td>
                       <% } %>
                        <td scope="col"><div><strong><%= outPar %></strong></div></td>
                  <% } %>
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ 
                            inPar += round.course[0].holes[i - 1].par; %>
                            <td scope="col"><div><strong><%= round.course[0].holes[i - 1].par; %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'></div><strong><%= inPar %></strong></div></td>
                <% } %>
                <td scope="col"><div><strong><%= outPar + inPar %></strong></div></td>
            </tr>
            <!--Handicap-->
            <tr id="handicap_row" class="scorecard">
                <th scope="row">
                    <div>
                        Handicap
                    </div>
                </th>
                <%  if(round.isFull || round.roundType === "Front 9") {
                        for(let i=1; i<=9; i++){ %>
                            <td scope="col"><div><strong><%= round.course[0].holes[i - 1].handicap %></strong></div></td>
                       <% } %>
                        <td scope="col"><div></div></td>
                  <% } %>
                <% if(round.isFull || round.roundType == "Back 9") {
                       for(let i=10; i<=18; i++){ %>
                            <td scope="col"><div><strong><%= round.course[0].holes[i - 1].handicap; %></strong></div></td>
                       <% } %>
                        <td scope="col"><div class='tee_color'></div></div></td>
                <% } %>
                <td scope="col"><div></div></td>
            </tr>
            <!--Gross Score-->
            <tr id="score_row" class="scorecard">
                <th id="player_name" scope="row"><%= user.name %></th>
                <%  if(round.isFull || round.roundType === "Front 9") {
                    var outScore = 0;
                    for(let i=1; i<=9; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                outScore += round.holes[z - 1].score %>
                                <td>
                                    <div id="score_<%=round.holes[z - 1].holeNumber%>">
                                        <%= round.holes[z - 1].score %>
                                    </div>
                                </td>
                            <% }
                        } 
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td <% if(outScore < outPar){ %> style="color:red" <% } %>><strong><%= outScore %></strong></td>
             <% } %>
                <% if(round.isFull || round.roundType === "Back 9") {
                    var inScore = 0;
                    for(let i=10; i<=18; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                inScore += round.holes[z - 1].score %>
                                <td>
                                    <div id="score_<%=round.holes[z - 1].holeNumber%>">
                                        <%= round.holes[z - 1].score %>
                                    </div>
                                </td>
                         <% }
                        }
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td <% if(inScore < inPar){ %> style="color:red" <% } %>><strong><%= inScore %></strong></td>
             <% }  
                if(round.isFull) { %>
                <td <% if(outScore + inScore < outPar + inPar){ %> style="color:red" <% } %>><strong><%= outScore + inScore %></strong></td>
            <% } else if(round.roundType === "Front 9") { %>
                    <td <% if(outScore < outPar){ %> style="color:red" <% } %>><strong><%= outScore %></strong></td>
            <% } else if(round.roundType === "Back 9") { %>
                    <td <% if(inScore < inPar){ %> style="color:red" <% } %>><strong><%= inScore %></strong></td>
            <% } %>
            </tr>
            <!--Net Score-->
            <% if(user.handicapIndex){ %>
            <tr id="netscore_row" class="scorecard">             
                <%  var slope = 0;
                    round.course[0].tees.forEach(function(tee){
                        if(round.tees == tee.color){
                            slope = tee.slope;
                        } 
                    });

                    var courseHandicap = Math.round(user.handicapIndex * slope / 113),
                        strokesOut = Math.round(courseHandicap / 2),
                        strokesIn = courseHandicap - strokesOut; %>                
                <th id="nethandicap" scope="row"> Net: CH <%= courseHandicap %> </th>   
                <% if(round.isFull || round.roundType === "Front 9") {
                    var outScore = 0;
                    //top out handicaps
                    var outHandicapSort = [];
                    for(let y=1; y<=round.holes.length; y++) {
                        if(round.holes[y - 1].holeNumber <= 9){ 
                            outHandicapSort.push(round.course[0].holes[y - 1].handicap);
                        }
                    }               

                    outHandicapSort.sort((a,b)=>a-b);
                    for(let i=1; i<=9; i++){
                        var found = false;
                        round.course[0].holes[i - 1].handicap
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                outScore += round.holes[z - 1].score %>
                                <td>
                                    <div id="netscore_<%=round.holes[z - 1].holeNumber%>">
                                        <%
                                        var getStroke = false;                                        
                                        for(let h=0; h < strokesOut; h++) {
                                            if(round.holes[z - 1].handicap == outHandicapSort[h]) {
                                                getStroke = true;
                                            }
                                        }
                                        if(getStroke){ %>
                                            <%= round.holes[z - 1].score - 1 %>
                                        <% } else { %>
                                            <%= round.holes[z - 1].score %>
                                        <% } %>
                                    </div>
                                </td>
                            <% }
                        } 
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td <% if(outScore - strokesOut < outPar){ %> style="color:red" <% } %>><strong><%= outScore - strokesOut %></strong></td>
             <% } %>
                <% if(round.isFull || round.roundType === "Back 9") {
                    var inScore = 0,
                        inHandicapSort = [];
                    for(let y=10; y<= 18; y++) {
                        if(round.holes[y - 1].holeNumber > 9){ 
                            inHandicapSort.push(round.course[0].holes[y - 1].handicap);
                        }
                    }               

                    inHandicapSort.sort((a,b)=>a-b);
                    for(let i=10; i<=18; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true;
                                inScore += round.holes[z - 1].score %>
                                <td>
                                    <div id="netscore_<%=round.holes[z - 1].holeNumber%>">
                                        <%
                                        var getStroke = false;                                        
                                        for(let h=0; h < strokesIn; h++) {
                                            if(round.holes[z - 1].handicap == inHandicapSort[h]) {
                                                getStroke = true;
                                            }
                                        }
                                        if(getStroke){ %>
                                            <%= round.holes[z - 1].score - 1 %>
                                        <% } else { %>
                                            <%= round.holes[z - 1].score %>
                                        <% } %>
                                    </div>
                                </td>
                         <% }
                        }
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td <% if(inScore - strokesIn < inPar){ %> style="color:red" <% } %>><strong><%= inScore - strokesIn %></strong></td>
             <% }  
                if(round.isFull) { %>
                <td <% if(outScore + inScore - courseHandicap < outPar + inPar){ %> style="color:red" <% } %>><strong><%= outScore + inScore - courseHandicap %></strong></td>
            <% } else if(round.roundType === "Front 9") { %>
                    <td <% if(outScore - strokesOut < outPar){ %> style="color:red" <% } %>><strong><%= outScore - strokesOut %></strong></td>
            <% } else if(round.roundType === "Back 9") { %>
                    <td <% if(inScore - strokesIn < inPar){ %> style="color:red" <% } %>><strong><%= inScore - strokesIn %></strong></td>
            <% } %>
            </tr>
            <% } %>
            <!--GIR-->
            <tr id="gir-row">
                <th id="gir-name" scope="row">GIR</th>
                <% if(round.isFull || round.roundType === "Front 9") {
                    outGir = 0;
                    for(let i=1; i<=9; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true; %>
                                <td id="gir-td_<%=round.holes[z - 1].holeNumber%>">
                                    <div id="gir-<%=round.holes[z - 1].holeNumber%>">
                                        <% if(round.holes[z - 1].approach.approachResult == "GIR" || round.holes[z - 1].approach.approachResult == "Under GIR") { 
                                                outGir++;
                                        %>
                                            <!--<span style="color:green;"> &#10004; </span> -->
                                            <img src = "../img/green_target.png" width="15px;" height="15px;" />
                                        <% } else { %>
                                            <span style="color:red;"> x </span>
                                        <% } %>
                                    </div>
                                </td>
                            <% }
                        } 
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td> <%= outGir %> </td>
             <% } %>
                <% if(round.isFull || round.roundType === "Back 9") {
                    inGir = 0;
                    for(let i=10; i<=18; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true; %>                               
                                <td id="gir-td_<%=round.holes[z - 1].holeNumber%>">
                                    <div id="gir-<%=round.holes[z - 1].holeNumber%>">
                                        <% if(round.holes[z - 1].approach.approachResult == "GIR" || round.holes[z - 1].approach.approachResult == "Under GIR") { 
                                            inGir++ %>
                                            <img src = "../img/green_target.png" width="15px;" height="15px;" />
                                        <% } else { %>
                                            <span style="color:red;"> x </span>
                                        <% } %>
                                    </div>
                                </td>
                         <% }
                        }
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td> <%= inGir %> </td>
             <% }  
                if(round.isFull) { %>
                <td> <%= outGir + inGir %> </td>
            <% } else if(round.roundType === "Front 9") { %>
                <td> <%= outGir %> </td>
            <% } else if(round.roundType === "Back 9") { %>
                <td> <%= inGir %> </td>
            <% } %>
            </tr>
            <!--FIR-->
            <tr id="fir-row">
                <th id="fir-name" scope="row">FIR</th>
                <% if(round.isFull || round.roundType === "Front 9") {
                    outFir = 0;
                    for(let i=1; i<=9; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true; %>
                                <td id="fir_td_<%=round.holes[z - 1].holeNumber%>">
                                    <div id="fir_<%=round.holes[z - 1].holeNumber%>">
                                        <% if(round.holes[z - 1].teeShot.teeShotResult == "FIR") { 
                                                outFir++    
                                        %>
                                            <img src = "../img/green_target.png" width="15px;" height="15px;" />
                                        <% } else if(round.holes[z - 1].par != "3") { %>
                                            <span style="color:red;"> x </span>
                                        <% } %>
                                    </div>
                                </td>
                            <% }
                        } 
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td> <%= outFir %> </td>
             <% } %>
                <% if(round.isFull || round.roundType === "Back 9") {
                    inFir = 0;
                    for(let i=10; i<=18; i++){
                        var found = false;
                        for(let z=1; z<=round.holes.length; z++) {
                            if(round.holes[z - 1].holeNumber == (i)){ 
                                found = true; %>
                                <td id="fir_td_<%=round.holes[z - 1].holeNumber%>">
                                    <div id="fir_<%=round.holes[z - 1].holeNumber%>">
                                        <% if(round.holes[z - 1].teeShot.teeShotResult == "FIR") { 
                                            inFir++
                                        %>
                                            <img src = "../img/green_target.png" width="15px;" height="15px;" />                                            
                                        <% } else if(round.holes[z - 1].par != "3") { %>
                                            <span style="color:red;"> x </span>
                                        <% } %>
                                    </div>
                                </td>
                         <% }
                        }
                        if(!found){ %>
                            <td></td>
                     <% }
                    } %>
                    <td> <%= inFir %> </td>
             <% }  
                if(round.isFull) { %>
                <td> <%= inFir + outFir %> </td>
            <% } else if(round.roundType === "Front 9") { %>
                <td> <%= outFir %> </td>
            <% } else if(round.roundType === "Back 9") { %>
                <td> <%= inFir %> </td>
            <% } %>
            </tr>
          </tbody>
          <% var rating = 0, slope = 0;
                round.course[0].tees.forEach(function(tee){
                    if(round.tees == tee.color){
                        rating = tee.rating;
                        slope = tee.slope;
                    } 
                }); %>
          <div class='tee_color'>Rating: <%= rating %> / Slope: <%= slope %> </div>
        </table>        
    </div>
</div>
<script src="../scripts/rounds/show.js"></script>
<% include ../partials/footer %>